bin/
obj/
**.sqlite
**.pubxml
obj/Debug/net7.0-windows/EveHelperWF.AssemblyInfoInputs.cache
obj/Debug/net7.0-windows/EveHelperWF.AssemblyInfo.cs
obj/Debug/net7.0-windows/EveHelperWF.AssemblyInfoInputs.cache
App.config