html{
    height: 100%;
}

body {
    /*background-color: rgb(5, 34, 48);*/
    background-color: rgb(2, 23, 38);
    color: white;
    text-align: center;
}

.InfoParagraph {
    background-color: black;
    opacity: 80%;
    margin: auto;
    padding: 10PX;
    width: auto;
    max-width: 80%;
    text-align: left;
    display: inline-block;
    overflow: auto;
}

a {
    color: white;
    font-size: larger;
}

    a:visited {
        color: white;
    }

ul > li {
    padding: 2px;
}

ol > li {
    padding: 2px;
}

h3, h4 {
    color: gold;
}

.Menubar {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
    opacity: 80%;
    text-align: left;
    cursor: pointer;
}

.Links{
    z-index:10;
    float:left;
    clear:both;
    background-color: black;
    display: inline;
    padding: 10px;
    margin-left: 5px;
}
    .Links > a{
        text-decoration: none;
    }

    .Links > a:hover {
        background-color: black;
        color: gold;
    }

    .Links > a::before{
        content: " | ";
    }

.Menubar:hover  {
    display: blockk;
    color: gold;
    /*cursor: pointer;*/
}

.MenuDiv {
    width: 20%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.5);
    text-align: left;
    text-decoration: none;
    position: fixed;
}

.MenuDiv > a{
    cursor: pointer;
    color: gold;
}

.MenuDiv > ul {
    list-style-type: circle;
    height: 100%;
}

.MenuDiv > ul > li {
    padding-top: 15px;
}

.MenuDiv > ul > li > a{
    text-decoration: none;
    color: gold;
}

.BodyDiv{
    left: 22%;
    width: 70%;
    min-height:100%;
    position: absolute;
}

img {
    border: 1px solid;
    border-color: white;
}